<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            TinyApp
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/urls">Home</a></li>
            <li>Login: <form action="/login" method="POST">
              <input id="login" type="text" name="login" placeholder="username">
              <input type="submit" value="Submit">
            </form></li>
            <li>Hello, <%= username %></li>
        </ul>
    </div>

</div>
</nav>