
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include ../views/partials/_header %>
</header>
<body>
  <p>
      <%= shortURL + ": " + longURL %>
  </p>
</body>
</html>
<!--  -->
