
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
  <% include ../views/partials/_header %>
</header>
<body>
  <ul>
    <% for (key in urls) { %>
      <li><%= urls[key] + ": " + key %>
        <form method="POST" action="/urls/<%= key %>/delete" id="<%= key %>">
          <button type="submit" form="<%= key %>">delete</button>
        </form>
      </li>
    <% } %>
  </ul>
  <p>
    <a href="/urls/new">Click here to generate your own tiny URL!</a>
  </p>
</body>
</html>
<!--  -->
